<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<menu>
  <category name="Chicken Burgers 🍗">
    <item>
      <listing>Chicken Royale</listing>
      <price>3.10</price>
    </item>
    <item>
      <listing>Crispy chicken</listing>
      <price>3.50</price>
    </item>
    <item decaf="true">
      <listing>Coke</listing>
      <price>3.20</price>
    </item>
  </category>
  <category name="Bacon Burgers 🥓">
    <item>
      <listing>Bacon king</listing>
      <price>4.50</price>
    </item>
    <item>
      <listing>Bacon Double cheese</listing>
      <price>5.00</price>
    </item>
    <item decaf="true">
      <listing>Sprite</listing>
      <price>5.00</price>
    </item>
  </category>
  <category name="XL Burgers 🍔">
    <item>
      <listing>XL Bacon Double Cheese</listing>
      <price>4.00</price>
    </item>
    <item>
      <listing>XL Big King</listing>
      <price>3.80</price>
    </item>
    <item decaf="true">
      <listing>Coke Zero</listing>
      <price>4.10</price>
    </item>
  </category>
  <category name="Euro Burgers 💶 ">
    <item>
      <listing>Hamburger</listing>
      <price>2.50</price>
    </item>
    <item>
      <listing>Cheeseburger</listing>
      <price>2.70</price>
    </item>
    <item decaf="true">
      <listing>Fanta</listing>
      <price>2.50</price>
    </item>
  </category>
  <category name="Deserts 🍨">
    <item>
      <listing>Chocolate Brownie</listing>
      <price>4.50</price>
    </item>
    <item>
      <listing>Oreo Milkshake</listing>
      <price>4.50</price>
    </item>
    <item>
      <listing>Belgium Waffle</listing>
      <price>5.00</price>
    </item>
  </category>
</menu>